NEWSAPI_KEY=your_newsapi_key_here
GNEWS_API_KEY=your_gnews_api_key_here
NEWSDATA_API_KEY=your_newsdata_api_key_here
CURRENT_NEWS_API=your_current_news_api_key_here
MEDIASTACK_API=your_mediastack_api_key_here
DEVELOPER_NY_TIMES_API=your_nytimes_api_key_here
DATABASE_URL=postgresql:
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here

